/* Reset margin and padding to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles from unordered and ordered lists */
ul,
ol {
  list-style: none;
}

/* Remove text decoration from links */
a {
  text-decoration: none;
}

/* Set a consistent baseline for typography */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2;
}

/* Reset heading margins for consistent spacing */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Reset form elements for consistent styling */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

/* Additional resets or styles can be added as needed */

/* Example: Remove default button styling */
button {
  background: none;
  cursor: pointer;
}

/* Example: Reset image border and alignment */
img {
  border: 0;
  vertical-align: middle;
}

header, nav a{
  color:white;
}
/* End of CSS RESET */

/* Boostrap Custome Styling */
.text-justify{
  text-align:justify;
}

.m-6{
  margin:6rem !important;
}
/* end of Bootstrap Custom Styling */

/* navbar */
#header{
  background-color: #888888;
}
/* hamburger icon */
.menu-icon{
  display:inline-block;
  cursor:pointer;
}

.bar1, .bar2, .bar3{
  width:35px;
  height:5px;
  background-color: #333;
  margin:6px 0;
  transition: 0.4s;
}
/* end of hamburger icon */

/* when icon is small, don't show nav links */

@media screen and (width < 768px) {
  div.menu {
    display: revert;
    height:0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    margin-left:-4px;
    background: #818181;
    transition: height 0.8s ease-in-out;
  }
  div.menu nav {
    margin:3rem;
    font-size: 2rem;
  }
  .close-icon {
    position: absolute;
    right: 16px;
    top:-10px;
    background: transparent;
    font-size: 3rem;
    border: none;
    color: white;
  }
  
}
/* end of navbar hamburger icon when click */

/* landing page */

/* end of landing page */

/* tools */
#tools img{
  width:50%;
}

#projects img{
  width:100%;
  border-radius: 6px;
}
#projects h3{
  margin:1rem 0 2rem 0;
  text-align: center;
}
#projects p{
  text-align:justify;
}

#projects h3, #projects p{
  color:white;
}
#footer img{
  width:25px;
}
body img:hover{
  transform: scale(1.1);
  transition: transform .5s;
}
#header a{
  font-weight: bolder;
}
#header a:hover{
  color:aqua;
  font-size: 1.1em;
}


#projects p{
  overflow: hidden;
  display: -webkit-box;
  /* display 2 lines only */
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

#contact form label{
  font-size:1.3em;
} 

@media screen and (width < 992px) {
  iframe{
    height:50vh;
  }
}
